<div id="modalAddPoint" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close closeModal">&times;</span>
            <h2>Add point in list:</h2>
        </div>
        <div class="modal-body">
            <div class="modal-container">
                <div class="col-1-2">
                    <span class="input-text">
                        Add coordinate X (example 2.5):
                        <input id="getPointX" type="text" />
                    </span>
                </div>
                <div class="col-1-2">
                    <span>
                        Add coordinate Y (example -2.5):
                        <input id="getPointY" type="text" />
                    </span>
                </div>
            </div>
            <a id="addPointInList" class="button-link teal">Add point in list</a>
        </div>
    </div>
</div>

@Html.Partial("_IsSuccessfullyAddPoint")