<div id="modalIsSuccessfullyAddPoint" class="modal">
    <div class="modal-content-isSuccessfull">
        <div class="modal-header">
            <span class="close closeModal">&times;</span>
            <div>
                <span id="isSuccessfully" class="input-text"></span>
            </div>
        </div>
    </div>
</div>