<div id="minAreaRectangle_modalIsSuccessfullyAddPoint" class="modal">
    <div class="modal-content-isSuccessfull">
        <div class="modal-header">
            <span class="close minAreaRectangle_closeModal">&times;</span>
            <div>
                <span id="minAreaRectangle_isSuccessfully" class="input-text"></span>
            </div>
        </div>
    </div>
</div>