<div id="minAreaRectangle_modalResult" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close minAreaRectangle_closeModal">&times;</span>
            <h2>Rectangle minimum area result page</h2>
        </div>
        <div class="modal-body">
            <div>
                <div class="algorithms-min-area-rectangle-text-result">
                    <span class="algorithms-horspool-text-result">Minimum area bounding box: </span><span id="minAreaRectangleResult"></span>
                </div>
            </div>
        </div>
    </div>
</div>