<div>
    <div>
        <a id="minAreaRectangle_addPoint" class="button-link teal">Add point in list</a>
        <a id="minAreaRectangle_showAllPoints" class="button-link teal">Show points in list</a>
        <a id="minAreaRectangle_getResult" class="button-link teal">Get rectangle minimum area</a>
    </div>
</div>