<div id="pointsWithoutIntersections_modalResultFromPoints" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close closeModal">&times;</span>
            <h2>Points without intersections result page from points:</h2>
        </div>
        <div class="modal-body">
            <div id="showAllPointsBodyWithoutIntersectionsFromPoints">

            </div>
        </div>
    </div>
</div>