<div>
    <div>
        <a id="addPoint" class="button-link teal">Add point in list</a>
        <a id="pointsWithoutIntersections_getResultFromFiles" class="button-link teal">Get points without intersections from files</a>
        <a id="pointsWithoutIntersections_getResultFromPoints" class="button-link teal">Get points without intersections from recorder points</a>
    </div>
</div>