<div id="pointsWithoutIntersections_modalResultNotFound" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close closeModal">&times;</span>
            <h2>Points without intersections result page</h2>
        </div>
        <div class="modal-body">
            <div>
                <div class="algorithms-min-area-rectangle-text-result">
                    <span class="algorithms-horspool-text-result">Points not found!</span>
                </div>
            </div>
        </div>
    </div>
</div>