<div id="modalShowAllPoints" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close closeModal">&times;</span>
            <h2>Show points in list:</h2>
        </div>
        <div class="modal-body">
            <div id="showAllPointsBody">

            </div>
        </div>
    </div>
</div>