@Scripts.Render("~/bundles/algorithmsMinAreaRectangle")

@{
    ViewBag.Title = "Rectangle minimum area page";
}

<div>
    <h1>Description of a set of points by a rectangle of minimum area!</h1>
    @Html.Partial("_MinAreaRectangleInput")
    @Html.Partial("_MinAreaRectangleAddPoint")
</div>