<ul class="algorithms-list">
    <li>@Html.ActionLink("Horspool algorithm", "Horspool", "Algorithms", "", new { @class = "algorithms-list-button" })</li>
    <li>@Html.ActionLink("Rectangle minimum area", "MinAreaRectangle", "Algorithms", "", new { @class = "algorithms-list-button" })</li>
    <li>@Html.ActionLink("Lines by points without intersections", "PointsWithoutIntersections", "Algorithms", "", new { @class = "algorithms-list-button" })</li>
</ul>